/* Old color scheme from JulyCamp
$brand-light: #e9f3f5; 190
$brand-dark: #2e3883; 233
$brand-dark-hover: #252D69; 233
$faq-border-color: #cad9de; 195
$faq-header-color: #121530; 234
$nav-text-color: #626476; */ /*234*/

$brand-light: #F5F5F5;
$brand-dark: #1e1e1e; 
$brand-dark-hover: #0f0f0f;
$faq-border-color: #d1d1d1;
$faq-header-color: #0f0f0f;
$nav-text-color: #1e1e1e;

/*light Gray: (245,245,245), #F5F5F5 ||| Dark Gray: (184,184,184), #b8b8b8; */ 