$brand-light: #f2efec;
$brand-dark: #B2B0AE;
$brand-dark-hover: #727170;
$faq-border-color: #cad9de;
$faq-header-color: #121530;
$nav-text-color: #626476;

//co-op colors
$healthcare-brand-dark: #129643;
$healthcare-brand-dark-hover: #487f3d;
$product-brand-dark: #2e3883;
$product-brand-dark-hover: #252D69;


//spacing

$content-size-mobile: 275px;
$content-padding-mobile: 30px;
$content-size-desktop: 300px;
$content-padding-desktop: 40px;
