//Fonts

@font-face {
  font-family: 'Gibson';
  font-weight: 300;
  font-style: normal;
  src: url('./fonts/Gibson-Light.otf');
}

@font-face {
  font-family: 'Gibson';
  font-weight: 300;
  font-style: italic;
  src: url('./fonts/Gibson-LightIt.otf');
}

@font-face {
  font-family: 'Gibson';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/Gibson-Regular.otf');
}

@font-face {
  font-family: 'Gibson';
  font-weight: 400;
  font-style: italic;
  src: url('./fonts/Gibson-Italic.otf');
}

@font-face {
  font-family: 'Gibson';
  font-weight: 600;
  font-style: normal;
  src: url('./fonts/Gibson-SemiBold.otf');
}

@font-face {
  font-family: 'Gibson';
  font-weight: 600;
  font-style: italic;
  src: url('./fonts/Gibson-SemiboldIt.otf');
}

@font-face {
  font-family: 'Gibson';
  font-weight: 700;
  font-style: normal;
  src: url('./fonts/Gibson-Bold.otf');
}

@font-face {
  font-family: 'Gibson';
  font-weight: 700;
  font-style: italic;
  src: url('./fonts/Gibson-BoldItalic.otf');
}