
#menu-icon {
  position: relative;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  cursor: pointer;
  z-index: 10001;
  position: relative;
  
  .icon {
    font-size: 40px;
    color: $brand-dark-hover;
  }

  .ion-android-close {
    display: none;
  }
  .ion-navicon {
    display: block;
  }
}

#menu-icon.open {
  text-align: right;
  padding-right: 10px;
  margin-left: auto;

  // .icon {
  //   font-size: 32px;
  // }

  .ion-android-close {
    display: block;
  }
  .ion-navicon {
    display: none;
  }
}