//Colors//
$white: #FFFFFF;
$black: #000000;
$dark-gray: #2c2e2d;

//Font//
$body-font-size: 16px;
$font-mobile-multiplier: .75;
$font-small-multiplier: .875;

//Border//
$border-width-mobile: 10px;
$border-width-small: 20px;
$border-width-medium: 40px;

//Breakpoints//
$breakpoint-small: 600px;
$breakpoint-partners: 650px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-max: 768px - 1;
$breakpoint-medium: 800px;
$breakpoint-large: 1100px;
$min-window-height: 550px;